h1 {
  color: red;
  border: 5px solid black;
  /* padding: 40px; */
  text-shadow: 5px 5px 10px blue;
  font-family: "Island Moments", cursive;
}
p {
  color: blue;
  font-size: 100%;
  background-color: cyan;
  border: 5px solid green;
  /* padding: 40px; */
  /* margin: 100px; */
  border-radius: 40px;
  text-shadow: 2px 2px 3px red;
}
body {
  background-color: azure;
}
